*{margin: 0; padding: 0;}
body, html{height: 100%;}

ul li{list-style: none;}

a{
    font-size: 12px;
    text-decoration: none;
    line-height: 20px;
}
#select{
    width: 200px;
    position: absolute;
    right: 0; bottom: 0;
    background-color: #fff;
}
#select #title{
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#select #title a{
    background: url(../img/icon.gif) no-repeat;
    background-position: 100% 0;
}
#select #title a.on{
    background-position: 100% -20px;
}
#select a{
    display: block; height: 20px;
    border-bottom: 1px solid #ddd;
    padding: 0 5px; line-height: 20px;
}
#select #list{
    border: 1px solid #ccc;
    position: absolute;
    left: 0; top: -94px;
    width: 200px;
    background: #fff;
    display: none;
}

#select #list.on{display: block;}

#select #list a{
    padding: 5px 10px;
    color: #000
}
#select #list a:hover, #select #lis a:focus{
    background: rgb(188, 202, 241);
    color:rgb(17, 83, 182);
    text-decoration :underline;
    border: 1px solid #000;
}
#con{
    background : rgb(209, 206, 253);
    height: 100%;
}