body{font-size: 12px;}
textarea{
    width: 300px;
    height: 200px;
    border: 1px solid #000;
}
textarea.on{
    background: lightcoral;
    color: #fff;
}
#display{
    width: 300px;
    height: 100px;
    word-break: break-all;/* 줄바꿈 */
    border: 1px solid #000;
    overflow: auto;
}